@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="hero-section">
    <div class="hero-image">
        <div class="hero-text-bottom-left fjalla-one-regular">
            <h1>2025 Fall Syllabus</h1>
     </div>
    </div>
</div> 

<div class="container1">
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Innovating the Future of Technology</h1>
            <h2 class="container1text-subtitle rubik">Empowering students to create, connect, and collaborate</h2>
            <h5 class="container1text-paragraph rubik">At Oklahoma State University, our Management Information Systems students are building solutions that drive innovation.
                From app development to cybersecurity, we combine creativity with technical expertise to prepare the next generation
                of leaders in technology. Learn how our community turns bold ideas into real-world impact.</h5>
            <a href="LearnMore.cshtml" class="btn">
                <span>Learn More</span>
            </a>
        </div> 
    </div>
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSUComputerStudent.jpg" alt="Container1photo">
    </div>
</div>

<div class="info-bar">
    <div class="info-item">
        <h3>Innovation Labs</h3>
    </div>
    <div class="info-item">
        <h3>Cybersecurity</h3>
    </div>
    <div class="info-item">
        <h3>App Development</h3>
    </div>
    <div class="info-item">
        <h3>Leadership Training</h3>
    </div>
</div>

<div class="container1">
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSUClass.jpg" alt="Container1photo">
    </div>
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Innovating the Future of Technology</h1>
            <h2 class="container1text-subtitle rubik">Empowering students to create, connect, and collaborate</h2>
            <h5 class="container1text-paragraph rubik">At Oklahoma State University, our Management Information Systems students are building solutions that drive innovation.
                From app development to cybersecurity, we combine creativity with technical expertise to prepare the next generation
                of leaders in technology. Learn how our community turns bold ideas into real-world impact.</h5>
            <a href="LearnMore.cshtml" class="btn">
                <span>Learn More</span>
            </a>
        </div>
    </div>
</div>

<div class="container1">
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Innovating the Future of Technology</h1>
            <h2 class="container1text-subtitle rubik">Empowering students to create, connect, and collaborate</h2>
            <h5 class="container1text-paragraph rubik">At Oklahoma State University, our Management Information Systems students are building solutions that drive innovation.
                From app development to cybersecurity, we combine creativity with technical expertise to prepare the next generation
                of leaders in technology. Learn how our community turns bold ideas into real-world impact.</h5>
            <a href="LearnMore.cshtml" class="btn">
                <span>Learn More</span>
            </a>
        </div> 
    </div>
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSUBusinessBuildingFog.jpg" alt="Container1photo">
    </div>
</div>

<div class="container1">
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSULibrary.jpg" alt="Container1photo">
    </div>
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Innovating the Future of Technology</h1>
            <h2 class="container1text-subtitle rubik">Empowering students to create, connect, and collaborate</h2>
            <h5 class="container1text-paragraph rubik">At Oklahoma State University, our Management Information Systems students are building solutions that drive innovation.
                From app development to cybersecurity, we combine creativity with technical expertise to prepare the next generation
                of leaders in technology. Learn how our community turns bold ideas into real-world impact.</h5>
            <a href="https://www.vitalsource.com/products/systems-analysis-amp-design-in-an-age-of-options-gary-spurrier-amp-heikki-topi-v9781943153817?term=9781943153817" target="_blank" class="btn">
                <span>Read</span>
            </a>
        </div>
    </div>
</div>