@page
@model MSISWebAppDev.Pages.IndexModel
@{
ViewData["Title"] = "Home page";
}

@*Hero Image*@
<div class="hero-section">
    <div class="hero-image">
        <div class="hero-text-bottom-left fjalla-one-regular">
            <h1>2025 Fall Syllabus</h1>
     </div>
    </div>
</div> 

@*Main Container1*@
<div class="container1">
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Innovating the Future of Technology</h1>
            <h2 class="container1text-subtitle rubik">Empowering students to create, connect, and collaborate</h2>
            <h5 class="container1text-paragraph rubik">At Oklahoma State University, our Management Information Systems students are building solutions that drive innovation.
                From app development to cybersecurity, we combine creativity with technical expertise to prepare the next generation
                of leaders in technology. Learn how our community turns bold ideas into real-world impact.</h5>
            <a href="https://business.okstate.edu/departments_programs/watson/mba/?gad_source=1&gad_campaignid=19719223567&gbraid=0AAAAAoK8NVL8clw0XsbDXWZe7gw5EvHyo&gclid=Cj0KCQiA5abIBhCaARIsAM3-zFUgDAfobj7kMB22n5OeZEEdqALlUvuD6-OjenrLu9ta1fhRSYslgcUaAsS2EALw_wcB" class="btn">
                <span>Learn More</span>
            </a>
        </div> 
    </div>
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSUComputerStudent.jpg" alt="Container1photo">
    </div>
</div>

@*Info Bar*@
<div class="info-bar">
    <div class="info-item">
        <h3>Docker</h3>
    </div>
    <div class="info-item">
        <h3>Microsoft Azure</h3>
    </div>
    <div class="info-item">
        <h3>CI/CD Pipeline</h3>
    </div>
    <div class="info-item">
        <h3>Github</h3>
    </div>
</div>

@*Main Container2*@
<div class="container1">
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSUClass.jpg" alt="Container1photo">
    </div>
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">What we do</h1>
            <h2 class="container1text-subtitle rubik">Advanced App Development's purpose</h2>
            <h5 class="container1text-paragraph rubik">This course is designed to extend your understanding of the software development pipeline
                by introducing current topics and technologies. The course focuses specifically on DevOps concepts and
                technologies in line with the current software development landscape.</h5>
            <a href="https://business.okstate.edu/departments_programs/msis/" class="btn">
                <span>Learn More</span>
            </a>
        </div>
    </div>
</div>

@*Main Container3*@
<div class="container1">
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Our Objective within this class</h1>
            <h2 class="container1text-subtitle rubik">What you will gain from this class</h2>
            <h5 class="container1text-paragraph rubik">This class you'll learn to demonstrate an understanding of the software development life
                cycle and its subcomponents, build and analyze a complex information system, understand (and troubleshoot) tools and technologies necessary
                to complete a software project, creatively consider multiple solution alternatives and blend more than one technology solution for the given business problem, and exhibit behaviors that are beneficial to a given team. </h5>
           
        </div> 
    </div>
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSUBusinessBuildingFog.jpg" alt="Container1photo">
    </div>
</div>

@*Main Container4*@
<div class="container1">
    <div class="container1photo">
        <img class="OSUComputerStudent" src="~/images/OSULibrary.jpg" alt="Container1photo">
    </div>
    <div class="container1text">
        <div class="Container1text-inner">
            <h1 class="container1text-title fjalla-one-regular">Course Material</h1>
            <h2 class="container1text-subtitle rubik">Layout of the Class</h2>
            <h5 class="container1text-paragraph rubik">This course utilizes Systems Analysis and Design in an Age of Options by G. Spurrier
                and H. Topi for the introductory material. The semester will be divided into three parts. The first part of the semester will be dedicated to
                introducing DevOps concepts. The next part will focus on DevOps technologies and their application in
                organizations. The final part will be developing an application using DevOps technologies. </h5>
            <a href="https://www.vitalsource.com/products/systems-analysis-amp-design-in-an-age-of-options-gary-spurrier-amp-heikki-topi-v9781943153817?term=9781943153817" target="_blank" class="btn">
                <span>Read</span>
            </a>
        </div>
    </div>
</div>