@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="hero-image">
    <div class="hero-text-bottom-left fjalla-one-regular">
        <h1>2025 Fall Syllabus</h1>
    </div>
</div>
<div>
    <h1>Time</h1>
</div>
